In [1]:
import glob
import os
import time
from scipy.io import loadmat
import cobra
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
h1 = cobra.io.load_matlab_model("C:/Users/NOE/Desktop/Wetransfer tpm/Models/HippocampusModel_GTEX_1A3MX_0011_R1b_SM_7P8PH.mat")
h2 = cobra.io.load_matlab_model("C:/Users/NOE/Desktop/Wetransfer tpm/Models/HippocampusModel_GTEX_1A8G6_0011_R1a_SM_7P8PC.mat")
h3 = cobra.io.load_matlab_model("C:/Users/NOE/Desktop/Wetransfer tpm/Models/HippocampusModel_GTEX_1A32A_0011_R1a_SM_7P8SQ.mat")
l1 = cobra.io.load_matlab_model("C:/Users/NOE/Desktop/Wetransfer tpm/Models/LungModel_GTEX_11DXX_0626_SM_5Q5AG.mat")
l2 = cobra.io.load_matlab_model("C:/Users/NOE/Desktop/Wetransfer tpm/Models/LungModel_GTEX_11DXZ_0726_SM_5N9C4.mat")
l3 = cobra.io.load_matlab_model("C:/Users/NOE/Desktop/Wetransfer tpm/Models/LungModel_GTEX_11DZ1_0426_SM_5H11A.mat")

No defined compartments in model ContextModel_Hippocampus. Compartments will be deduced heuristically using regular expressions.
Using regular expression found the following compartments:c, e, g, i, l, m, n, r, x
No defined compartments in model ContextModel_Hippocampus. Compartments will be deduced heuristically using regular expressions.
Using regular expression found the following compartments:c, e, g, i, l, m, n, r, x
No defined compartments in model ContextModel_Hippocampus. Compartments will be deduced heuristically using regular expressions.
Using regular expression found the following compartments:c, e, g, l, m, n, r, x
No defined compartments in model ContextModel_Lung. Compartments will be deduced heuristically using regular expressions.
Using regular expression found the following compartments:c, e, g, l, m, n, r, x
No defined compartments in model ContextModel_Lung. Compartments will be deduced heuristically using regular expressions.
Using regular expression found the following compartments:c, e, g, l, m, n, r, x
No defined compartments in model ContextModel_Lung. Compartments will be deduced heuristically using regular expressions.
Using regular expression found the following compartments:c, e, g, l, m, n, r, x

In [4]:
solution_h1=h1.optimize()
print(solution_h1)
solution_h1

<Solution 242.121 at 0x1b54cc09e10>

In [5]:
solution_h2=h2.optimize()
print(solution_h2)
solution_h2

<Solution 241.225 at 0x1b54cc02190>

In [6]:
solution_h3=h3.optimize()
print(solution_h3)
solution_h3

<Solution 240.771 at 0x1b54cbfa650>

In [7]:
solution_l1=l1.optimize()
print(solution_l1)
solution_l1

<Solution 256.256 at 0x1b54cbf92d0>

In [8]:
solution_l2=l2.optimize()
print(solution_l2)
solution_l2

<Solution 190.424 at 0x1b54cbf9fd0>

In [9]:
solution_l3=l3.optimize()
print(solution_l3)
solution_l3

<Solution 241.848 at 0x1b54cbef7d0>