In [1]:
import glob
import os
import time
from scipy.io import loadmat
import cobra
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [6]:
df_IGM1= pd.read_csv('C:/Users/NOE/Desktop/Dadas counts/DataFrames/df_IGM1.txt', sep='\t')
df_IGM2= pd.read_csv('C:/Users/NOE/Desktop/Dadas counts/DataFrames/df_IGM2.txt', sep='\t')
df_IGM3= pd.read_csv('C:/Users/NOE/Desktop/Dadas counts/DataFrames/df_IGM3.txt', sep='\t')
df_IGM4= pd.read_csv('C:/Users/NOE/Desktop/Dadas counts/DataFrames/df_IGM4.txt', sep='\t')

df_ND1= pd.read_csv('C:/Users/NOE/Desktop/Dadas counts/DataFrames/df_ND1.txt', sep='\t')
df_ND2= pd.read_csv('C:/Users/NOE/Desktop/Dadas counts/DataFrames/df_ND2.txt', sep='\t')
df_ND3= pd.read_csv('C:/Users/NOE/Desktop/Dadas counts/DataFrames/df_ND3.txt', sep='\t')
df_ND4= pd.read_csv('C:/Users/NOE/Desktop/Dadas counts/DataFrames/df_ND4.txt', sep='\t')

df_T2D1= pd.read_csv('C:/Users/NOE/Desktop/Dadas counts/DataFrames/df_T2D1.txt', sep='\t')
df_T2D2= pd.read_csv('C:/Users/NOE/Desktop/Dadas counts/DataFrames/df_T2D2.txt', sep='\t')
df_T2D3= pd.read_csv('C:/Users/NOE/Desktop/Dadas counts/DataFrames/df_T2D3.txt', sep='\t')
df_T2D4= pd.read_csv('C:/Users/NOE/Desktop/Dadas counts/DataFrames/df_T2D4.txt', sep='\t')

df_T3cD1= pd.read_csv('C:/Users/NOE/Desktop/Dadas counts/DataFrames/df_T3cD1.txt', sep='\t')
df_T3cD2= pd.read_csv('C:/Users/NOE/Desktop/Dadas counts/DataFrames/df_T3cD2.txt', sep='\t')
df_T3cD3= pd.read_csv('C:/Users/NOE/Desktop/Dadas counts/DataFrames/df_T3cD3.txt', sep='\t')
df_T3cD4= pd.read_csv('C:/Users/NOE/Desktop/Dadas counts/DataFrames/df_T3cD4.txt', sep='\t')
print(df_T3cD1)
print(df_T3cD1)
print(df_IGM1)

               Reacciones  Flujos_T3cD_1
0               13DAMPPOX       0.000000
1                    2HBO       0.000000
2               2HCO3_NAt    -105.825459
3               2OXOADOXm       0.000000
4             34DHOXPEGOX       0.000000
...                   ...            ...
3590        sink_tyr_L[c]     -23.195712
3591        sink_4abut[l]       0.000000
3592  DM_4glu56dihdind[c]       0.000000
3593          DM_4abut[c]       0.000000
3594            DM_btn[n]       0.000000

[3595 rows x 2 columns]
               Reacciones  Flujos_T3cD_1
0               13DAMPPOX       0.000000
1                    2HBO       0.000000
2               2HCO3_NAt    -105.825459
3               2OXOADOXm       0.000000
4             34DHOXPEGOX       0.000000
...                   ...            ...
3590        sink_tyr_L[c]     -23.195712
3591        sink_4abut[l]       0.000000
3592  DM_4glu56dihdind[c]       0.000000
3593          DM_4abut[c]       0.000000
3594            DM_btn[n]       0.000000

[3595 rows x 2 columns]
               Reacciones  Flujos_IGM_1
0               13DAMPPOX      0.000000
1                    2HBO      0.000000
2               2HCO3_NAt   -500.000000
3               2OXOADOXm      0.000000
4               2OXOADPTm      0.000000
...                   ...           ...
3658        sink_tyr_L[c]    -25.514701
3659        sink_4abut[l]      0.000000
3660  DM_4glu56dihdind[c]      0.000000
3661          DM_4abut[c]    413.450365
3662          DM_hista[c]      0.000000

[3663 rows x 2 columns]

In [11]:
df_IGM1

               Reacciones  Flujos_IGM_1
0               13DAMPPOX      0.000000
1                    2HBO      0.000000
2               2HCO3_NAt   -500.000000
3               2OXOADOXm      0.000000
4               2OXOADPTm      0.000000
...                   ...           ...
3658        sink_tyr_L[c]    -25.514701
3659        sink_4abut[l]      0.000000
3660  DM_4glu56dihdind[c]      0.000000
3661          DM_4abut[c]    413.450365
3662          DM_hista[c]      0.000000

[3663 rows x 2 columns]

In [10]:
# Define sets of reactions from different dataframes
reactions_IGM1 = set(df_IGM1['Reacciones'])
reactions_IGM2 = set(df_IGM2['Reacciones'])
reactions_IGM3 = set(df_IGM3['Reacciones'])
reactions_IGM4 = set(df_IGM4['Reacciones'])
reactions_ND1 = set(df_ND1['Reacciones'])
reactions_ND2 = set(df_ND2['Reacciones'])
reactions_ND3 = set(df_ND3['Reacciones'])
reactions_ND4 = set(df_ND4['Reacciones'])
reactions_T2D1 = set(df_T2D1['Reacciones'])
reactions_T2D2 = set(df_T2D2['Reacciones'])
reactions_T2D3 = set(df_T2D3['Reacciones'])
reactions_T2D4 = set(df_T2D4['Reacciones'])
reactions_T3cD1 = set(df_T3cD1['Reacciones'])
reactions_T3cD2 = set(df_T3cD2['Reacciones'])
reactions_T3cD3 = set(df_T3cD3['Reacciones'])
reactions_T3cD4 = set(df_T3cD4['Reacciones'])

# Select reactions absent in each model and add them to the respective model
# For IGM1:
reactions_to_add_IGM1 = (
    reactions_IGM2 | reactions_IGM3 | reactions_IGM4 |
    reactions_ND1 | reactions_ND2 | reactions_ND3 | reactions_ND4 |
    reactions_T2D1 | reactions_T2D2 | reactions_T2D3 | reactions_T2D4 |
    reactions_T3cD1 | reactions_T3cD2 | reactions_T3cD3 | reactions_T3cD4
) - reactions_IGM1

add_IGM1 = pd.DataFrame({'Reacciones': list(reactions_to_add_IGM1), 'Flujos_IGM1': [0] * len(reactions_to_add_IGM1)})
IGM1 = pd.concat([df_IGM1, add_IGM1])
IGM1 = IGM1.set_index('Reacciones', drop=True)

# Repeat the process for other models (IGM2, IGM3, IGM4, ND1, ND2, ND3, ND4, T2D1, T2D2, T2D3, T2D4, T3cD1, T3cD2, T3cD3, T3cD4)
# For IGM2:
reactions_to_add_IGM2 = (
    reactions_IGM1 | reactions_IGM3 | reactions_IGM4 |
    reactions_ND1 | reactions_ND2 | reactions_ND3 | reactions_ND4 |
    reactions_T2D1 | reactions_T2D2 | reactions_T2D3 | reactions_T2D4 |
    reactions_T3cD1 | reactions_T3cD2 | reactions_T3cD3 | reactions_T3cD4
) - reactions_IGM2

add_IGM2 = pd.DataFrame({'Reacciones': list(reactions_to_add_IGM2), 'Flujos_IGM2': [0] * len(reactions_to_add_IGM2)})
IGM2 = pd.concat([df_IGM2, add_IGM2])
IGM2 = IGM2.set_index('Reacciones', drop=True)

# Repeat the process for other models (IGM3, IGM4, ND1, ND2, ND3, ND4, T2D1, T2D2, T2D3, T2D4, T3cD1, T3cD2, T3cD3, T3cD4)
# For IGM3:
reactions_to_add_IGM3 = (
    reactions_IGM1 | reactions_IGM2 | reactions_IGM4 |
    reactions_ND1 | reactions_ND2 | reactions_ND3 | reactions_ND4 |
    reactions_T2D1 | reactions_T2D2 | reactions_T2D3 | reactions_T2D4 |
    reactions_T3cD1 | reactions_T3cD2 | reactions_T3cD3 | reactions_T3cD4
) - reactions_IGM3

add_IGM3 = pd.DataFrame({'Reacciones': list(reactions_to_add_IGM3), 'Flujos_IGM3': [0] * len(reactions_to_add_IGM3)})
IGM3 = pd.concat([df_IGM3, add_IGM3])
IGM3 = IGM3.set_index('Reacciones', drop=True)

# Repeat the process for other models (IGM4, ND1, ND2, ND3, ND4, T2D1, T2D2, T2D3, T2D4, T3cD1, T3cD2, T3cD3, T3cD4)
# For IGM4:
reactions_to_add_IGM4 = (
    reactions_IGM1 | reactions_IGM2 | reactions_IGM3 |
    reactions_ND1 | reactions_ND2 | reactions_ND3 | reactions_ND4 |
    reactions_T2D1 | reactions_T2D2 | reactions_T2D3 | reactions_T2D4 |
    reactions_T3cD1 | reactions_T3cD2 | reactions_T3cD3 | reactions_T3cD4
) - reactions_IGM4

add_IGM4 = pd.DataFrame({'Reacciones': list(reactions_to_add_IGM4), 'Flujos_IGM4': [0] * len(reactions_to_add_IGM4)})
IGM4 = pd.concat([df_IGM4, add_IGM4])
IGM4 = IGM4.set_index('Reacciones', drop=True)

# Repeat the process for other models (ND1, ND2, ND3, ND4, T2D1, T2D2, T2D3, T2D4, T3cD1, T3cD2, T3cD3, T3cD4)
# For ND1:
# Select reactions absent in ND1 and add them to ND1
reactions_to_add_ND1 = (
    reactions_IGM1 | reactions_IGM2 | reactions_IGM3 | reactions_IGM4 |
    reactions_ND2 | reactions_ND3 | reactions_ND4 |
    reactions_T2D1 | reactions_T2D2 | reactions_T2D3 | reactions_T2D4 |
    reactions_T3cD1 | reactions_T3cD2 | reactions_T3cD3 | reactions_T3cD4
) - reactions_ND1

add_ND1 = pd.DataFrame({'Reacciones': list(reactions_to_add_ND1), 'Flujos_ND1': [0] * len(reactions_to_add_ND1)})
ND1 = pd.concat([df_ND1, add_ND1])
ND1 = ND1.set_index('Reacciones', drop=True)

# Select reactions absent in ND2 and add them to ND2
reactions_to_add_ND2 = (
    reactions_IGM1 | reactions_IGM2 | reactions_IGM3 | reactions_IGM4 |
    reactions_ND1 | reactions_ND3 | reactions_ND4 |
    reactions_T2D1 | reactions_T2D2 | reactions_T2D3 | reactions_T2D4 |
    reactions_T3cD1 | reactions_T3cD2 | reactions_T3cD3 | reactions_T3cD4
) - reactions_ND2

add_ND2 = pd.DataFrame({'Reacciones': list(reactions_to_add_ND2), 'Flujos_ND2': [0] * len(reactions_to_add_ND2)})
ND2 = pd.concat([df_ND2, add_ND2])
ND2 = ND2.set_index('Reacciones', drop=True)

# Select reactions absent in ND3 and add them to ND3
reactions_to_add_ND3 = (
    reactions_IGM1 | reactions_IGM2 | reactions_IGM3 | reactions_IGM4 |
    reactions_ND1 | reactions_ND2 | reactions_ND4 |
    reactions_T2D1 | reactions_T2D2 | reactions_T2D3 | reactions_T2D4 |
    reactions_T3cD1 | reactions_T3cD2 | reactions_T3cD3 | reactions_T3cD4
) - reactions_ND3

add_ND3 = pd.DataFrame({'Reacciones': list(reactions_to_add_ND3), 'Flujos_ND3': [0] * len(reactions_to_add_ND3)})
ND3 = pd.concat([df_ND3, add_ND3])
ND3 = ND3.set_index('Reacciones', drop=True)

# Select reactions absent in ND4 and add them to ND4
reactions_to_add_ND4 = (
    reactions_IGM1 | reactions_IGM2 | reactions_IGM3 | reactions_IGM4 |
    reactions_ND1 | reactions_ND2 | reactions_ND3 |
    reactions_T2D1 | reactions_T2D2 | reactions_T2D3 | reactions_T2D4 |
    reactions_T3cD1 | reactions_T3cD2 | reactions_T3cD3 | reactions_T3cD4
) - reactions_ND4

add_ND4 = pd.DataFrame({'Reacciones': list(reactions_to_add_ND4), 'Flujos_ND4': [0] * len(reactions_to_add_ND4)})
ND4 = pd.concat([df_ND4, add_ND4])
ND4 = ND4.set_index('Reacciones', drop=True)
# Select reactions absent in T2D1 and add them to T2D1
reactions_to_add_T2D1 = (
    reactions_IGM1 | reactions_IGM2 | reactions_IGM3 | reactions_IGM4 |
    reactions_ND1 | reactions_ND2 | reactions_ND3 | reactions_ND4 |
    reactions_T2D2 | reactions_T2D3 | reactions_T2D4 |
    reactions_T3cD1 | reactions_T3cD2 | reactions_T3cD3 | reactions_T3cD4
) - reactions_T2D1

add_T2D1 = pd.DataFrame({'Reacciones': list(reactions_to_add_T2D1), 'Flujos_T2D1': [0] * len(reactions_to_add_T2D1)})
T2D1 = pd.concat([df_T2D1, add_T2D1])
T2D1 = T2D1.set_index('Reacciones', drop=True)
# Select reactions absent in T2D2 and add them to T2D2
reactions_to_add_T2D2 = (
    reactions_IGM1 | reactions_IGM2 | reactions_IGM3 | reactions_IGM4 |
    reactions_ND1 | reactions_ND2 | reactions_ND3 | reactions_ND4 |
    reactions_T2D1 | reactions_T2D3 | reactions_T2D4 |
    reactions_T3cD1 | reactions_T3cD2 | reactions_T3cD3 | reactions_T3cD4
) - reactions_T2D2

add_T2D2 = pd.DataFrame({'Reacciones': list(reactions_to_add_T2D2), 'Flujos_T2D2': [0] * len(reactions_to_add_T2D2)})
T2D2 = pd.concat([df_T2D2, add_T2D2])
T2D2 = T2D2.set_index('Reacciones', drop=True)
# Select reactions absent in T2D3 and add them to T2D3
reactions_to_add_T2D3 = (
    reactions_IGM1 | reactions_IGM2 | reactions_IGM3 | reactions_IGM4 |
    reactions_ND1 | reactions_ND2 | reactions_ND3 | reactions_ND4 |
    reactions_T2D1 | reactions_T2D2 | reactions_T2D4 |
    reactions_T3cD1 | reactions_T3cD2 | reactions_T3cD3 | reactions_T3cD4
) - reactions_T2D3

add_T2D3 = pd.DataFrame({'Reacciones': list(reactions_to_add_T2D3), 'Flujos_T2D3': [0] * len(reactions_to_add_T2D3)})
T2D3 = pd.concat([df_T2D3, add_T2D3])
T2D3 = T2D3.set_index('Reacciones', drop=True)
# Select reactions absent in T2D4 and add them to T2D4
reactions_to_add_T2D4 = (
    reactions_IGM1 | reactions_IGM2 | reactions_IGM3 | reactions_IGM4 |
    reactions_ND1 | reactions_ND2 | reactions_ND3 | reactions_ND4 |
    reactions_T2D1 | reactions_T2D2 | reactions_T2D3 |
    reactions_T3cD1 | reactions_T3cD2 | reactions_T3cD3 | reactions_T3cD4
) - reactions_T2D4

add_T2D4 = pd.DataFrame({'Reacciones': list(reactions_to_add_T2D4), 'Flujos_T2D4': [0] * len(reactions_to_add_T2D4)})
T2D4 = pd.concat([df_T2D4, add_T2D4])
T2D4 = T2D4.set_index('Reacciones', drop=True)
# Select reactions absent in T3cD1 and add them to T3cD1
reactions_to_add_T3cD1 = (
    reactions_IGM1 | reactions_IGM2 | reactions_IGM3 | reactions_IGM4 |
    reactions_ND1 | reactions_ND2 | reactions_ND3 | reactions_ND4 |
    reactions_T2D1 | reactions_T2D2 | reactions_T2D3 | reactions_T2D4 |
    reactions_T3cD2 | reactions_T3cD3 | reactions_T3cD4
) - reactions_T3cD1

add_T3cD1 = pd.DataFrame({'Reacciones': list(reactions_to_add_T3cD1), 'Flujos_T3cD1': [0] * len(reactions_to_add_T3cD1)})
T3cD1 = pd.concat([df_T3cD1, add_T3cD1])
T3cD1 = T3cD1.set_index('Reacciones', drop=True)
# Select reactions absent in T3cD2 and add them to T3cD2
reactions_to_add_T3cD2 = (
    reactions_IGM1 | reactions_IGM2 | reactions_IGM3 | reactions_IGM4 |
    reactions_ND1 | reactions_ND2 | reactions_ND3 | reactions_ND4 |
    reactions_T2D1 | reactions_T2D2 | reactions_T2D3 | reactions_T2D4 |
    reactions_T3cD1 | reactions_T3cD3 | reactions_T3cD4
) - reactions_T3cD2

add_T3cD2 = pd.DataFrame({'Reacciones': list(reactions_to_add_T3cD2), 'Flujos_T3cD2': [0] * len(reactions_to_add_T3cD2)})
T3cD2 = pd.concat([df_T3cD2, add_T3cD2])
T3cD2 = T3cD2.set_index('Reacciones', drop=True)
# Select reactions absent in T3cD3 and add them to T3cD3
reactions_to_add_T3cD3 = (
    reactions_IGM1 | reactions_IGM2 | reactions_IGM3 | reactions_IGM4 |
    reactions_ND1 | reactions_ND2 | reactions_ND3 | reactions_ND4 |
    reactions_T2D1 | reactions_T2D2 | reactions_T2D3 | reactions_T2D4 |
    reactions_T3cD1 | reactions_T3cD2 | reactions_T3cD4
) - reactions_T3cD3

add_T3cD3 = pd.DataFrame({'Reacciones': list(reactions_to_add_T3cD3), 'Flujos_T3cD3': [0] * len(reactions_to_add_T3cD3)})
T3cD3 = pd.concat([df_T3cD3, add_T3cD3])
T3cD3 = T3cD3.set_index('Reacciones', drop=True)
# Select reactions absent in T3cD4 and add them to T3cD4
reactions_to_add_T3cD4 = (
    reactions_IGM1 | reactions_IGM2 | reactions_IGM3 | reactions_IGM4 |
    reactions_ND1 | reactions_ND2 | reactions_ND3 | reactions_ND4 |
    reactions_T2D1 | reactions_T2D2 | reactions_T2D3 | reactions_T2D4 |
    reactions_T3cD1 | reactions_T3cD2 | reactions_T3cD3
) - reactions_T3cD4

add_T3cD4 = pd.DataFrame({'Reacciones': list(reactions_to_add_T3cD4), 'Flujos_T3cD4': [0] * len(reactions_to_add_T3cD4)})
T3cD4 = pd.concat([df_T3cD4, add_T3cD4])
T3cD4 = T3cD4.set_index('Reacciones', drop=True)
T3cD4

            Flujos_T3cD_4  Flujos_T3cD4
Reacciones
13DAMPPOX             0.0           NaN
2HBO                  0.0           NaN
2HBt2                 0.0           NaN
2HCO3_NAt             0.0           NaN
2OXOADOXm             0.0           NaN
...                   ...           ...
r2495                 NaN           0.0
HMR_0430              NaN           0.0
HMR_9674              NaN           0.0
HPDECECOAm            NaN           0.0
ALLOP1tu              NaN           0.0

[5170 rows x 2 columns]

In [31]:
reactions_IGM1 = set(df_IGM1['Reacciones'])
reactions_IGM2 = set(df_IGM2['Reacciones'])
reactions_IGM3 = set(df_IGM3['Reacciones'])
reactions_IGM4 = set(df_IGM4['Reacciones'])
# For IGM1:
reactions_to_add_IGM1 = (reactions_IGM2 | reactions_IGM3 | reactions_IGM4) - reactions_IGM1
add_IGM1 = pd.DataFrame({'Reacciones': list(reactions_to_add_IGM1), 'Flujos_IGM_1': [0] * len(reactions_to_add_IGM1)})
IGM1 = pd.concat([df_IGM1, add_IGM1])
IGM1 = IGM1.set_index('Reacciones', drop=True)
IGM1

             Flujos_IGM_1
Reacciones
13DAMPPOX             0.0
2HBO                  0.0
2HCO3_NAt          -500.0
2OXOADOXm             0.0
2OXOADPTm             0.0
...                   ...
6HLVSTthep            0.0
ALOX52                0.0
RE3430C               0.0
RE3181C               0.0
EX_met_L[e]           0.0

[4314 rows x 1 columns]